.hover {
  cursor: pointer;
}

a {
  font-weight: 900;
  text-decoration: none;
  background: #fff;
}

/* a:hover {

    color: #777 !important;
} */

#nprogress .bar {
  background: #b72424 !important;
}

#nprogress .spinner-icon {
  border-top-color: #b72424 !important;
  border-left-color: #b72424 !important;
}

.info-card:hover {
  box-shadow: 0px 0px 25px #000000;
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.04);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.04);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.04);
  transition: all 100ms ease-in;
  transform: scale(1.04);
  cursor: pointer;
}

.download-link {
  color: rgb(38, 38, 155) !important;
  font-weight: bold;
}
.download-link:hover {
  color: #555;

  text-decoration: underline;
}
