.hover {
    cursor: pointer
}

a {
    font-weight: 900;
    text-decoration: none;
    background: #fff;
}

/* a:hover {

    color: #777 !important;
} */


#nprogress .bar {
    background:#b72424 !important;
    }

      
#nprogress .spinner-icon {
    border-top-color: #b72424 !important;
    border-left-color: #b72424 !important;
      }